@model List<Application.Dtos.ProductAggregate.ProductCategory.MostPopularProductCategoriesQueryModel>

<!-- CATEGORIES -->
<section class="container">
    <!-- TITLE -->
    <a   class="flex items-center justify-center">
        <span class="cursor-pointer transition-colors gap-x-2 flex items-center justify-center">
            <h2 class="text-xl lg:text-3xl font-MorabbaMedium">
                محبوب ترین دسته ها
            </h2>
            <svg class="w-8 h-8">
                <use href="#arrow-down-circle"></use>
            </svg>
        </span>
    </a>
    <!-- ITEMS -->
    <div class="flex items-center justify-evenly lg:justify-between flex-wrap mt-10 child:mb-8 gap-x-8 child:flex child:items-center child:flex-col child-hover:-translate-y-5 child:duration-300 child:cursor-pointer child:gap-y-2.5">
        @foreach (var item in Model)
        {
            <a  asp-page="/Category" asp-route-id="@item.Slug">
                <img src="@item.Picture"
                     class="w-[100px] h-[100px] lg:w-[200px] lg:h-[200px] object-cover" alt="@item.PictureAlt" title="@item.PictureTitle" />
                <p class="font-DanaMedium text-sm lg:text-lg line-clamp-1">
                    @item.Name
                </p>
            </a>
        }
    </div>
</section>